<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置一个spring的bean标签，每一个Bean标签后期都是一个Java的对象
    属性
      id 表示这个bean的唯一标识在整个spring上下文容器中这个id都是唯一的，内容任意
      class 表示这个bean所对应的类的全限定名
    -->
    <bean id="testService" class="com.bj.spring.service.Impl.TestServiceImpl02">

    </bean>

</beans>